@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";


@theme {
    --font-primary: "Manrope", sans-serif;
    --font-secondary: "Sora", sans-serif;
    --color-primary: #1A1A1A;
    --color-secondary: #666666;
    --color-background: #0B5D1E;
}